<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  <p>
    <strong>Surname:</strong>
    <%= student.surname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

</div>
